@page
@model CbIncrease20HardModel
@{
}

<!DOCTYPE HTML PUBLIC «- //W3C//DTD HTML 4.0 Transitional //EN»>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap&subset=cyrillic" rel="stylesheet">
    <title>Уведомление</title>
</head>
<body style="background: #eee; margin: 15px 2px;">
    <table align="center"
           border="0"
           cellpadding="0"
           cellspacing="0"
           style="font: 20px 'Times New Roman'; background-color: #fff; max-width: 770px;">
        <tr style="max-height: auto;">
            <td colspan="2">
                <div style="margin-top:6%; text-align:right; margin-right:70px">
                    <div>_____________________________</div>
                    <div>_____________________________</div>
                    <div>_____________________________</div>
                    <div>_____________________________</div>
                    <div>_____________________________</div>
                    <div>_____________________________</div>
                </div>
            </td>
        </tr>
        <tr style="max-height: auto;">
            <td style="padding: 40px 20px 20px 70px;" colspan="2">
                <p style="text-align: center;">Уважаемый(ая)__________________ !</p>
            </td>
        </tr>
        <tr style="text-indent: 2.2em; max-height: auto;">
            <td colspan="2" style="text-align: justify;">
                <div style="margin:20px 70px 0px 70px">
                    <div>
                        Напоминаем, что согласно ст.37 Федерального закона от 26.03.2003 № 35-ФЗ «Об электроэнергетике», потребитель/покупатель электрической энергии, несвоевременно и (или) не полностью оплативший электрическую энергию гарантирующему поставщику или производителю электрической энергии (мощности) на розничном рынке, обязан уплатить пеню в размере 1/130 ставки рефинансирования Центрального банка РФ, действующей на день фактической оплаты, от невыплаченной в срок суммы за каждый день просрочки после установленной даты платежа по день фактической оплаты.
                    </div>
                    <div>
                        С учетом того, что с 28 февраля 2022 года Центральный банк РФ повысил ключевую ставку больше чем в два раза – до 20%, то размер платы по пени начисленной за несвоевременную и (или) неполную оплату за потребленную электроэнергию составит 56% годовых.
                    </div>
                    <div>
                        Во избежание возникновения дополнительных расходов в виде пеней просим вас обратить внимание на строгое соблюдение графика оплаты потребленной электроэнергии в соответствии с условиями заключенных договоров энергоснабжения или купли-продажи электрической энергии, включая оплату авансовых платежей.
                    </div>
                </div>
            </td>
        </tr>
        <tr style="max-height: auto;">
            <td colspan="2">
                <table>
                    <tr style="font-size:20px;">
                        <td>
                            <div style="margin: 60px 0px 140px 70px;">
                                <div>Заместитель Генерального директора</div>
                                <div>По реализации и техническому управлению</div>
                                <div>ПАО «ТНС энерго Кубань»</div>
                            </div>
                        </td>
                        <td>
                            <img width="120" style="margin-top: -60px" src="https://sun9-34.userapi.com/impg/m64qp1cQMPB9_OqJ27Yfii-GouAA5LHq1j0r6Q/tVtw7XMcjxQ.jpg?size=150x116&quality=96&sign=2352f3bd3e772acde8b7673b16c6714a&type=album" />
                        </td>
                        <td>
                            <div style="text-align: right; margin-bottom: 115px; margin-left: 30px">
                                Т.А. Савин
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>