@page "/avalanche/fl/notification"
@model NotificationFlModel

<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <title>Уведомление</title>
    <meta http-equiv="Content-Type" content="text/html; charset=koi8-r" />
    <meta name="generator" content="Microsoft Word 15 (filtered medium)" />
</head>
<body link="#0563c1" vLink="#954f72">
    <div style="margin:15px">
        <div style="margin:0 0 20px 0">
            <div>
                Уважаемый потребитель ПАО «ТНС энерго Кубань»! Вами допущено возникновение задолженности за потребленную электроэнергию. В случае не оплаты электроснабжение по истечении 20 дней будет ограничено и по истечении 10 дней приостановлено. Для получения подробностей необходимо перейти по ссылке:
            </div>
            <a href="@Model.Link" target="_blank" shape="">Уведомление об ограничении,приостановлении предоставления коммунальной услуги электроснабжения</a>
        </div>

        <div>
            <div>
                Оплатить за потребленную электроэнергию можно на сайте <a href="http://www.kuban.tns-e.ru/" target="_blank" shape="">www.kuban.tns-e.ru</a>, при очном посещении Центра обслуживания, в терминалах и кассах Сбербанка и других платёжных агентов. Подробная информация о способах оплаты представлена на сайте <a href="http://www.kuban.tns-e.ru/" target="_blank" shape="">www.kuban.tns-e.ru</a>.
            </div>
            <a href="http://www.kuban.tns-e.ru/" target="_blank" shape="">ОПЛАТИТЬ СЕЙЧАС</a>
        </div>

        Данное письмо сформировано автоматически и носит уведомительный характер. Пожалуйста, не отвечайте на него.
    </div>
</body>
</html>